/*********************************** Our Portfolio ***********************************/

$purple: #602566;
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

$vertPad: 20px;
$sidePad: 70px;
$bottomPad: 50px;
$numOfEls: 5;
$elMrg: 1%;
$initAT: 1s;
$initDelayStep: 0.1s;
$fullInitAT: $initAT+$initDelayStep * ($numOfEls - 1);
$moveAT: 0.6s;
$expandAT: 0.7s;
$expandDelay: 0.1s;
$bgScaleAT: 0.8s;
$fadeoutAT: $moveAT+$expandAT/2;
$indexHoverAT: 0.5s;
$closeBtnAT: 0.3s;
$closeBtnLineDelay: 0.15s;
$fullExpandAT: $moveAT+$expandDelay+$expandAT;
$contentFadeinAT: 0.5s;
@mixin elHover {
    .el:hover & {
        @content;
    }
}

@mixin elActive {
    .el.s--active & {
        @content;
    }
}

@mixin contInactive {
    .cont.s--inactive & {
        @content;
    }
}

@mixin contElActive {
    .cont.s--el-active & {
        @content;
    }
}

.cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: $vertPad $sidePad $bottomPad;
    &__inner {
        position: relative;
        height: 100%;
        &:hover .el__bg:after {
            opacity: 1;
        }
    }
}

.el {
    $elW: (100% - $elMrg * ($numOfEls - 1)) / $numOfEls;
    $elMrgRel: percentage($elMrg / $elW);
    position: absolute;
    left: 0;
    top: 0;
    width: $elW;
    height: 100%;
    background: #252525;
    transition: transform $moveAT $expandAT, width $expandAT, opacity $moveAT $expandAT, z-index 0s $moveAT + $expandAT;
    will-change: transform, width, opacity;
    &:not(.s--active) {
        cursor: pointer;
    }
    &__overflow {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
    &__inner {
        overflow: hidden;
        position: relative;
        height: 100%;
        transition: transform $initAT;
        @include contInactive {
            transform: translate3d(0, 100%, 0);
        }
    }
    &__bg {
        position: relative;
        width: calc(100vw - #{$sidePad * 2});
        height: 100%;
        transition: transform $moveAT $expandAT;
        will-change: transform;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -5%;
            width: 100%;
            height: 110%;
            background-size: cover;
            background-position: center center;
            transition: transform $initAT;
            transform: translate3d(0, 0, 0) scale(1);
            @include contInactive {
                transform: translate3d(0, -100%, 0) scale(1.2);
            }
            @include elActive {
                transition: transform $bgScaleAT;
            }
        }
        &:after {
            $opacityAT: 0.5s;
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity $opacityAT;
            @include contElActive {
                transition: opacity $opacityAT $fullExpandAT;
                opacity: 1 !important;
            }
        }
    }
    &__preview-cont {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s $fullInitAT - 0.2s;
        @include contInactive {
            opacity: 0;
            transform: translateY(10px);
        }
        @include contElActive {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.5s;
        }
    }
    &__heading {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__content {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.1s;
        @include elActive {
            z-index: 2;
            opacity: 1;
            pointer-events: auto;
            transition: all $contentFadeinAT $fullExpandAT;
        }
    }
    &__text {
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
    }
    &__close-btn {
        z-index: -1;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 60px;
        height: 60px;
        opacity: 0;
        pointer-events: none;
        transition: all 0s $closeBtnAT + $closeBtnLineDelay;
        cursor: pointer;
        @include elActive {
            z-index: 5;
            opacity: 1;
            pointer-events: auto;
            transition: all 0s $fullExpandAT;
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 8px;
            margin-top: -4px;
            background: #fff;
            opacity: 0;
            transition: opacity 0s;
            @include elActive {
                opacity: 1;
            }
        }
        &:before {
            transform: rotate(45deg) translateX(100%);
            @include elActive {
                transition: all $closeBtnAT $fullExpandAT cubic-bezier(.72, .09, .32, 1.57);
                transform: rotate(45deg) translateX(0);
            }
        }
        &:after {
            transform: rotate(-45deg) translateX(100%);
            @include elActive {
                transition: all $closeBtnAT $fullExpandAT + $closeBtnLineDelay cubic-bezier(.72, .09, .32, 1.57);
                transform: rotate(-45deg) translateX(0);
            }
        }
    }
    &__index {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: $vertPad * -1;
        width: 100%;
        height: 100%;
        min-height: 250px;
        text-align: center;
        font-size: 100vw / $numOfEls;
        line-height: 0.85;
        font-weight: bold;
        transition: transform $indexHoverAT, opacity $moveAT/2 $expandAT + $expandDelay + $moveAT;
        transform: translate3d(0, 1vw, 0);
        @include elHover {
            transform: translate3d(0, 0, 0);
        }
        @include contElActive {
            transition: transform $indexHoverAT, opacity $moveAT/2;
            opacity: 0;
        }
        &-back,
        &-front {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        &-back {
            color: #2f3840;
            opacity: 0;
            transition: opacity $indexHoverAT/2 $indexHoverAT/2;
            @include elHover {
                transition: opacity $indexHoverAT/2;
                opacity: 1;
            }
        }
        &-overlay {
            overflow: hidden;
            position: relative;
            transform: translate3d(0, 100%, 0);
            transition: transform $indexHoverAT 0.1s;
            color: transparent;
            &:before {
                content: attr(data-index);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                transform: translate3d(0, -100%, 0);
                transition: transform $indexHoverAT 0.1s;
            }
            @include elHover {
                transform: translate3d(0, 0, 0);
                &:before {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
    @for $i from 0 to $numOfEls {
        &:nth-child(#{$i + 1}) {
            $x: (100% + $elMrgRel) * $i;
            transform: translate3d($x, 0, 0);
            transform-origin: $x + 50% 50%;
            @include contElActive {
                &:not(.s--active) {
                    transform: scale(0.5) translate3d($x, 0, 0);
                    opacity: 0;
                    transition: transform $fadeoutAT, opacity $fadeoutAT;
                }
            }
            .el__inner {
                transition-delay: $initDelayStep * $i;
            }
            .el__bg {
                transform: translate3d($elW * $i * -1, 0, 0);
                &:before {
                    transition-delay: 0.1s * $i;
                    background-image: url('../images/portfolio/image_#{$i + 1}.jpg');
                }
            }
        }
    }
    &:hover {
        .el__bg:after {
            opacity: 0;
        }
    }
    &.s--active {
        z-index: 1;
        width: 100%;
        transform: translate3d(0, 0, 0);
        transition: transform $moveAT, width $expandAT $moveAT + $expandDelay, z-index 0s;
        .el__bg {
            transform: translate3d(0, 0, 0);
            transition: transform $moveAT;
            &:before {
                transition-delay: $moveAT;
                transform: scale(1.1);
            }
        }
    }
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
    img {
        width: 100%;
        vertical-align: top;
    }
    &--twitter {
        left: auto;
        right: 5px;
    }
}


/*********************************** Our Portfolio End ***********************************/

.text-white {
    color: #ffffff
}

.wrapper {
    padding: 60px auto;
}

.page-title {
    margin: 80px auto;
    h1 {
        text-transform: lowercase;
        letter-spacing: 10px;
        font-size: 4em;
        font-weight: 300;
    }
    p {
        text-transform: uppercase;
        letter-spacing: 18px;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: space-between;
    align-self: stretch;
    justify-self: stretch;
    margin-bottom: 30px;
    padding: 30px;
    background: white;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(#602566, .5);
    border-radius: 10px;
    svg {
        width: 100%;
        padding: 10px;
    }
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5em;
    }
    a {
        text-transform: lowercase;
        letter-spacing: 2px;
        font-size: 1.2em;
        font-weight: 300;
        padding: 12px 20px;
        font-family: sans-serif;
        font-size: 16px;
        color: #DB6B86;
        border: 1px solid #DB6B86;
        text-decoration: none;
        transition: all .4s ease-in-out;
        background-color: #EFDFED;
        &:hover {
            background-color: #DB6B86;
            color: #fff;
        }
    }
}

.icon-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0px;
}

.icon-design {
    animation-play-state: running;
    .anchor-part {
        animation: move 2s linear infinite;
    }
    .anchor-part--2 {
        animation: move2 2s linear infinite;
    }
    .pen-part {
        transform-origin: 140px 180px;
        animation: bounce2 2s ease-in-out infinite;
    }
    .ruler-part {
        transform-origin: 140px 180px;
        animation: bounce 1s ease-in-out infinite;
    }
    .circle-part {
        transform-origin: 139.8px 167.8px;
        animation: rotate 4s linear infinite;
    }
    .cursor-part {
        animation: bounceBFt2 2s ease-in-out infinite;
    }
    @keyframes move {
        0%,
        100% {
            transform: translate(1px, 1px);
        }
        50% {
            transform: translate(-1px, -1px);
        }
    }
    @keyframes move2 {
        0%,
        100% {
            transform: translate(-1px, -1px);
        }
        50% {
            transform: translate(1px, 1px);
        }
    }
}

.icon-develop {
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .gear-b {
        animation: rotate-reverse 6s;
    }
    .gear-s {
        animation: rotate 12s linear infinite;
    }
    #XMLID_87_,
    #XMLID_85_,
    #XMLID_83_ {
        animation: twinkle 3s ease-in-out infinite;
    }
    #XMLID_85_ {
        animation-delay: .4s;
    }
    #XMLID_83_ {
        animation-delay: .6s;
    }
    .line-t,
    .line-m,
    .line-b {
        animation: shrink 1.8s ease-in-out infinite;
    }
    .line-m {
        animation-delay: .3s;
    }
    .line-b {
        animation-delay: .6s;
    }
    .code {
        &-letter_o {
            animation: typingO 3s linear infinite;
        }
        &-letter_d {
            animation: typingD 3s linear infinite;
        }
        &-letter_e {
            animation: typingE 3s linear infinite;
        }
        @keyframes typingE {
            20.1%,
            80% {
                fill: transparent;
            }
            20%,
            80.1% {
                fill: #fff;
            }
        }
        @keyframes typingD {
            30.1%,
            70% {
                fill: transparent;
            }
            30%,
            70.1% {
                fill: #fff;
            }
        }
        @keyframes typingO {
            40.1%,
            60% {
                fill: transparent;
            }
            40%,
            60.1% {
                fill: #fff;
            }
        }
    }
}

.icon-support {
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .gear-s,
    .gear-m {
        animation: rotate;
        animation-duration: 6s;
    }
    .gear-b {
        animation: rotate-reverse 6s;
    }
    .clock {
        transform-origin: 223.6px 132.8px;
        animation: rotate 12s linear infinite;
    }
}

.icon-eComm {
    animation-play-state: running;
    .overlay {
        transform: translate(82px, -214px);
    }
    .bubble-b {
        animation: bubble-b 3.4s linear infinite;
    }
    .bubble-m {
        animation: bubble-m 3.4s linear infinite;
    }
    .bubble-t {
        animation: bubble-t 3.4s linear infinite;
    }
    .hand,
    .bag-f,
    .bag-b,
    .bag-f--tag {
        transform-origin: 320px 200px;
        animation: bounce2 1.6s ease-in-out infinite;
    }
    .bag-bb {
        animation-delay: .4s;
    }
    .bag-f--tag,
    .bag-bb {
        transform-origin: 200px 190px;
        animation: bounce 1.6s ease-in-out infinite;
    }
    .bag-b {
        transform-origin: 160px 160px;
        animation: bounce 1.6s ease-in-out infinite;
    }
    .credit-card {
        circle:nth-of-type(1) {
            animation: shift 6s ease-in-out infinite;
        }
        circle:nth-of-type(2) {
            animation: shift2 6s ease-in-out infinite;
        }
        @keyframes shift {
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            25%,
            75% {
                opacity: 0.7;
            }
            50% {
                transform: translateX(10px);
                opacity: 1;
            }
        }
        @keyframes shift2 {
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            25%,
            75% {
                opacity: 0.7;
            }
            50% {
                transform: translateX(-10px);
                opacity: 1;
            }
        }
    }
}

.icon-mobApps {
    animation-play-state: running;
    .gear {
        animation: rotate 30s linear infinite;
    }
    .line-t,
    .line-m,
    .line-b {
        animation: shrink 2.2s ease-in-out infinite;
    }
    .play-btn polygon {
        animation: twinkle 3s linear infinite;
    }
    .line-m {
        animation-delay: .3s;
    }
    .line-b {
        animation-delay: .6s;
    }
    .ruler {
        transform-origin: 300px 200px;
        animation: bounceBFt2 2s ease-in-out infinite;
    }
    .hook {
        transform-origin: 148px 24px;
        animation: bounce3 1.6s ease-in-out infinite;
    }
    .play-bar--play {
        opacity: 0;
    }
    .play-bar--pause {
        opacity: 1;
    }
}

.icon-wordpress {
    animation-play-state: running;
    width: 80%;
    .graph {
        animation: bounce 1.4s ease-in-out infinite;
    }
    .mouse {
        animation: bounceBFt2 1.6s ease-in-out infinite;
    }
    .wp-logo {
        animation: twinkle2 4s ease-in-out infinite;
    }
    .keyboard {
        $dur: 2.75s;
        [class*=key] {
            animation-play-state: running;
            animation: typing $dur linear infinite;
        }
        $steps: 1 2 3 4 5 6 7 8 9 10 11 12;
        @each $step in $steps {
            .key-#{$step} {
                animation-delay: ( $dur / 12) * $step;
            }
        }
        @keyframes typing {
            0%,
            2% {
                opacity: 0.6;
            }
            4% {
                opacity: 1;
            }
        }
    }
    .code {
        &-line {
            animation: shrink 1s ease-in-out infinite;
        }
        &-line1 {
            animation-delay: .3s;
        }
        &-line2 {
            animation-delay: .9s;
        }
        &-line3 {
            animation-delay: .2s;
        }
        &-line5 {
            animation-delay: .5s;
        }
        &-line6 {
            animation-delay: .8s;
        }
        &-line8 {
            animation-delay: .4s;
        }
    }
}

.icon-webApps {
    animation-play-state: running;
    .ruler {
        animation: bounceBF 1.8s ease-in-out infinite;
    }
    .panel {
        animation: twinkle3 3s ease-in-out infinite;
        &2 {
            animation-delay: .5s;
        }
        &3 {
            animation-delay: 1s;
        }
        &4 {
            animation-delay: 1.5s;
        }
        &5 {
            animation-delay: 2s;
        }
    }
    .line-1 {
        transform-origin: 162px;
        animation: shrink 2s ease-in-out infinite;
    }
    .line-2,
    .line-3 {
        transform-origin: 144.3px 0;
        animation: shrink 2s ease-in-out infinite;
    }
    .line-2 {
        animation-delay: -.4s;
    }
    .blink1,
    .blink2,
    .blink3 {
        animation: 6s linear infinite;
    }
    .blink1 {
        animation-name: bubble-b;
    }
    .blink2 {
        animation-name: bubble-m;
    }
    .blink3 {
        animation-name: bubble-t;
    }
    .play-btn {
        opacity: 1;
    }
    .pause-btn {
        opacity: 0;
    }
    &:hover {
        .play-btn {
            opacity: 0;
        }
        .pause-btn {
            opacity: 1;
        }
    }
}

.star {
    animation: twinkle 4s ease-in-out infinite;
    &-2 {
        animation-delay: 1s;
    }
}

@keyframes twinkle {
    0%,
    50%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(1.6);
    }
}

@keyframes twinkle2 {
    0%,
    50%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(1.07);
    }
}

@keyframes twinkle3 {
    0%,
    50%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(1.14);
    }
}

@keyframes bubble-t {
    26%,
    80% {
        transform: scale(0);
    }
    20%,
    86% {
        transform: scale(1);
    }
}

@keyframes bubble-m {
    36%,
    70% {
        transform: scale(0);
    }
    30%,
    76% {
        transform: scale(1);
    }
}

@keyframes bubble-b {
    46%,
    60% {
        transform: scale(0);
    }
    40%,
    66% {
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        transform: rotate(-6deg);
    }
}

@keyframes bounce2 {
    50% {
        transform: rotate(6deg);
    }
}

@keyframes bounce3 {
    50% {
        transform: rotate(3deg);
    }
}

@keyframes bounceBF {
    0%,
    100% {
        transform: rotate(1.6deg);
    }
    50% {
        transform: rotate(-1.6deg);
    }
}

@keyframes bounceBFt2 {
    0%,
    100% {
        transform: rotate(4.6deg);
    }
    50% {
        transform: rotate(-4.6deg);
    }
}

@keyframes shrink {
    50% {
        transform: scaleX(0.3);
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes rotate-reverse {
    to {
        transform: rotate(-1turn);
    }
}